{% extends 'home.html' %} 
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/about_us.css' %}">
<div class="contailer">
    <h1>All About AYUSH...</h1>
    <p>
        <b>

        
    The Ministry of Ayush was formed on the 9th of November 2014 with a vision of reviving the profound knowledge of our ancient systems of medicine and ensuring the optimal development and propagation of the Ayush systems of healthcare. Earlier, the Department of Indian System of Medicine and Homoeopathy (ISM&H) formed in 1995, was responsible for the development of these systems. It was then renamed as the Department of Ayurveda, Yoga, and Naturopathy, Unani, Siddha and Homoeopathy (Ayush) in November 2003 with focused attention towards education and research in Ayurveda, Yoga and Naturopathy, Unani, Siddha, and Homoeopathy.</b></p>

</div>
{% endblock  %}