{% extends 'home.html' %} 
{% load static %}
{% block header %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body>
    <form action="" method="post">

    {% csrf_token %}
    <section class="contact-us">
        <h1>Contact Us</h1>
        <form id="contact-form">
            <input type="text" id="name" name="name" placeholder="Name" required>
            <input type="email" id="email" name="email" placeholder="E-Mail" required>
            <textarea id="message" name="message" placeholder="Message" required></textarea>
            <button class="submit-button" type="submit">Submit</button>
        </form>
    </section>
</form>
    <script src="{% static 'js/contact_us.js' %}"></script>
</body>
</html>
{% endblock  %}