{% extends 'home.html' %} 
{% load static %}
{% block header %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domain - Ayush Start-up Portal</title>
    <link rel="stylesheet" href="{% static 'css/domain_def.css' %}">
    <link rel="stylesheet" href="{% static 'css/stack_def.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <form class="domain-form" action="" method="post">
                {% csrf_token %}
                <div class="header">
                    <img src="{% static 'images/gov.jpeg' %}" alt="Logo">
                    <h1>Ayush<br>Start-up Portal</h1>
                </div>
                <h2 class="page-title">STAKE</h2>
                <label for="organization-name">Role</label>
                <select name="role" id="role">
                    <option value="1">CEO</option>
                    <option value="2">FOUNDER</option>
                    <option value="3">CTO</option>
                    <option value="4">CFO</option>
                    <option value="5">HR</option>
                    <option value="5">MANAGER</option>
                </select>
                
                <label for="startup-idea">Equity Stake</label>
                <input type="text" id="startup-idea" name="Equity" required>
                
                <label for="location">Investment</label>
                <input type="text" id="stake" name="investment" required>
                
                <label for="contact-no">Decision Power</label>
                <input type="tel" id="contact-no" name="decision_power" required>
                <label for="contact-no">Involvement</label>
                <input type="tel" id="contact-no" name="involvement" required>
                <label for="contact-no">Interests</label>
                <input type="tel" id="contact-no" name="interests" required>
                <label for="contact-no">Returns</label>
                <input type="tel" id="contact-no" name="returns" required>
                <label for="contact-no">Exit Statergy</label>
                <input type="tel" id="contact-no" name="exit_statergy" required>
                <button type="submit" class="submit-button">SUBMIT</button>
            </form>
        </div>
    </div>    
    <script src="{% static 'js/stack_def.js' %}"></script>
</body>
</html>
{% endblock %}