body {
    background-image: url('/static/images/org_back.jpeg'); /* Add your image path here */
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #555;
}

input, select, button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.required {
    color: red;
}

.hidden {
    display: none;
}

.address-group {
    display: flex;
    justify-content: space-between;
}

.address-group input, .address-group select {
    width: 48%;
}

#confirmationMessage {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: green;
}